{% extends 'partials/base.html' %} 

{% block content %}

<div class ="container" mt-3 pt-3>

<div class= "row">

<div class= "col-md-3">
	<h3>Enter Information</h3>
	
	<p class="text-justify">
	Submit the prefered age of stand: 
	</p>
<form method="POST" action="{% url 'map2' %}">{% csrf_token %}
        <input type="number" name="age">
		

	<p class="text-justify">
	Submit the dataset you wish to use: 
	</p>
	
	    <label for="dset2">Data source:</label>
		<select id="dset2" name="dset2">
        <option value="Beaudoin">Beaudoin</option>
		</select>

        <input type="submit" name="submit">
</form>



</div>

<div class= "col-md-8">
	<h3 class="text-center">Selected Host Age within Polygon</h3>
	
	{{m  | safe}}

</div>

</div>

</div>

{% endblock %} 



