{% extends 'partials/base.html' %} 

{% block content %}

<div class ="container" mt-3 pt-3>

<div class= "row">

<div class= "col-md-3">

		<p>
		<br>
		<br>
		<br>
		<br>
		<br>
		
		<br>
		<br>
		
		</p>
		
	<h3>Enter Information</h3>
	
<form method="POST" action="{% url 'map5' %}">{% csrf_token %}

       <label for="area">Number of sites to export (optimized for Euclidean distance):</label>
		<input type="range" name="nsite" value=2 min=2 max=10 oninput="this.nextElementSibling.value = this.value">
		<output>2</output>
		<style>
input[type="range"] {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  width: 80%;
  height: 1em;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: .3em;
  background-color: #222222;
  background: linear-gradient(#333333, #222222);
  outline: none;
  font: 1em trebuchet ms, verdana, arial, sans-serif;
  cursor: pointer;
}

input[type="range"]::-moz-range-track {
  border: inherit;
  background: transparent;
}

input[type="range"]::-ms-track {
  border: inherit;
  color: transparent;
  background: transparent;
}

input[type="range"]::-ms-fill-lower,
input[type="range"]::-ms-fill-upper {
  background: transparent;
}

input[type="range"]::-ms-tooltip {
  display: none;
}

input[type="range"]::-moz-range-thumb {
  width: 1em;
  height: 1em;
  border-radius: .3em;
  border: none;
  background-image: linear-gradient(to bottom, #27AE60 0, #27AE60 100%);
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1em;
  height: 1em;
  border-radius: .3em;
  border: none;
  background-image: linear-gradient(to bottom, #27AE60 0, #27AE60 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #27AE60), color-stop(100%, #27AE608));
  background-image: -webkit-linear-gradient(top, #27AE60 0, #27AE60 100%);
}

input[type="range"]::-ms-thumb {
  width: 1em;
  height: 1em;
  border-radius: .3em;
  border: 0;
  background-image: linear-gradient(to bottom, #27AE60 0, #27AE60 100%);
}
		</style>
		
        <input type="submit" name="submit">
</form>



</div>

<div class= "col-md-8">
	<h3 class="text-center">Final Sites</h3>
	
	{{m  | safe}}

</div>

</div>

</div>

{% endblock %} 



